<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PATTERN LIBRARY</title>
    <!--build:css css/index.min.css -->
    <link rel="stylesheet" href="../../css/index.css">
    <!-- endbuild -->
  </head>
  <body>
      <div class="wrapper">
        <header class="header wrapper-item"><h1>BUTTONS</h1></header>
        <section class="content wrapper-item">
          <!-- Html buttos here -->
          <div class="btn--primary disabled">BUTTON</div>
          <div class="btn--secundary disabled">BUTTON</div>
        </section>
        <footer class="footer wrapper-item">FOOTER</footer>
      </div>
  </body>
</html>
