@import "_colors";
@import "_spacers";

.wrapper-item {
    display: flex;
}

//buttom mixin
@mixin btn ($size, $line-height) {
    padding:$spacer2 $spacer3 $spacer2 $spacer3;   
    border-radius: 2rem;
    text-align: center;
    margin: $spacer2;
    color: $text__color;
}

//include btn class & btn bacgrounds colors
.btn__primary {
    @include btn (1rem, 1.5);
    background-color:  $primary__color;  
  }

  .btn__success {
    @include btn (1rem, 1.5);
    background-color:  $success__color;
  }
  .btn__error {
    @include btn (1rem, 1.5);
    background-color:  $error__color;
  }
  .btn__warning  {
    @include btn (1rem, 1.5);
    background-color:  $warning__color;
  }
  .btn__info  {
    @include btn (1rem, 1.5);
    background-color:  $info__color;
  }